@{
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
    var currentAction = ViewContext.RouteData.Values["action"].ToString();
}

<nav class="pcoded-navbar">
    <div class="sidebar_toggle">
        <a href="#"><i class="icon-close icons"></i></a>
    </div>
    <div class="pcoded-inner-navbar main-menu">
        <div class="">
            <div class="main-menu-header">
                <img class="img-80 img-radius" id="leftAvatar" src="data:image/jpeg;base64,@ViewBag.ProfileImage" alt="User-Profile-Image" />
                <div class="user-details">
                    <span class="CurrentUser" id="more-details">@ViewBag.Username<i class="fa fa-caret-down"></i></span>
                </div>
            </div>

            <div class="main-menu-content">
                <ul>
                    <li class="more-details">
                        <a href="user-profile.php"><i class="ti-user"></i>View Profile</a>
                        <a href="@Url.Action("Logout", "Home")"><i class="ti-layout-sidebar-left"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pcoded-navigation-label" data-i18n="nav.category.navigation">
            Common Function
        </div>
        <ul class="pcoded-item pcoded-left-item">
            <li id="index" class="@(currentController == "Dashboard" ? "active" : "")">
                <a href="@Url.Action("Index", "Dashboard")" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
            <li id="time" class="@(currentController == "Time" ? "active" : "")">
                <a href="@Url.Action("Index", "Time")" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-alarm-clock"></i></span>
                    <span class="pcoded-mtext" data-i18n="nav.basic-components.main">Manage Time</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
